.section-container{
    
}

.section{
    width: 1100px; 
    margin: 0 auto; 

}

.section--content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.section--content > * {
    margin-bottom: 25px;
}




/* head of section */
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2rem 0;
}

.head--more{
    background: rgb(var(--primary-color) , .7);
    font-size: .9rem;
    font-weight: 400;
    background: rgb(var(--primary-color) , .07);

    border-radius: 5px;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 5px; 

    cursor: pointer;
}


@media only screen and (max-width: 1100px){
    .section{
        width: 93%;
    }

}

@media only screen and (max-width: 800px){
    .section--content{
        justify-content: space-around;
    }
    .head{
        display: flex;
        justify-content: center;
    }
    .head--more{
       display: none;
    }
    
}
